<div class="shadow bg-body p-2 text-center rounded">
  <h5 class="text-primary">Паспорт безопасности ребенка</h5>
  <h6>Сформирован: <%= l(Time.now, format: :long) %></h6>
</div>
<div class="pt-3 d-flex text-center justify-content-center">
  <div class="p-2 w-50">
    <h6 class="shadow p-1 mb-3 bg-body rounded text-primary">Ваш ребенок</h6>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="text-secondary"><%= @user.full_name %></h4>
        <p class=''>Возраст: <%= @user.age_to_s %><p>
      </div>
    </div>
  </div>
  <div class="p-2 w-50">
    <div class="flex-shrink-0">
      <%= image_tag('passport.jpg', class: 'img-fluid') %>
    </div>
  </div>
</div>
<div class="mb-4 text-success">
  <label for="formGroupExampleInput" class="form-label">Основная информация о ребенке</label>
  <input type="text" class="form-control shadow bg-body rounded" id="formGroupExampleInput" style="height: 170px">
</div>
<div class="mb-4 text-success">
  <label for="formGroupExampleInput2" class="form-label">Дополнительные сведения</label>
  <input type="text" class="form-control shadow bg-body rounded" id="formGroupExampleInput2" style="height: 90px">
</div>
<div class="mb-4 text-success">
  <label for="formGroupExampleInput" class="form-label">Данные медицинского полиса</label>
  <input type="text" class="form-control shadow bg-body rounded" id="formGroupExampleInput" style="height: 55px">
</div>
<div class="text-success">
  <label for="formGroupExampleInput2" class="form-label">Контактные данные родителей</label>
  <input type="text" class="form-control shadow bg-body rounded" id="formGroupExampleInput2" style="height: 55px">
</div>
<p class="mt-5 text-center"><b class="text-primary">@bezopdet</b> Самое крупное сообщество по детской безопасности</p>
