<table class="table table-striped">
  <thead class="table-success">
    <tr>
      <th scope="col-3">Контакт</th>
      <th scope="col-6">ФИО</th>
      <th scope="col-3">Номер телефона</th>
    </tr>
  </thead>
  <tbody>

    <% child.contacts.except(new_contact).each do |contact| %>
      <tr>
        <td><%= t("activerecord.attributes.contact.role_list.#{contact.role}") %></td>
        <td><%= contact.full_name %></td>
        <td><%= contact.phone_number %>
          <%= link_to icon('fa-solid', 'trash-can', class:"fa-sm", style: "color: #d60000;"), child_contact_path(contact.child, contact),
                data: { turbo_method: :delete, turbo_confirm: 'Вы уверены, что хотите удалить этот контакт?'}, 
                title: 'Удалить' %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
