<div class="card text-center">
  <div class="card-header"><b>Методика: <%= user_program.training_program.title %> </b></div>
  <div class="card-body">

    <div class="d-grid gap-2">
      <%= link_to 'Ознакомиться', user_program.training_program.url , class: 'btn btn-info', target: '_blank' %>
      
      <% if policy(user_program).complete? %>
        <%= link_to 'Выполнено', complete_user_program_path(user_program), class: 'btn btn-info', 
                           data: { turbo_method: :put, turbo_confirm: "Вы уверены, что методика усвоена?"} %>
      <% end %>
      
    </div>

  </div>
  <div class="card-footer text-muted">
    <p class="card-text"><b>Напоминание: </b>

      <% unless user_program.notice_time.nil? %>
        <%= l(user_program.notice_time, format: :long) %>
      <% else %>
        Не установлено
      <% end %>

    </p>
  </div>
</div>
