<p><%= t('.greeting', recipient: @email) %></p>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Вопросов, связанных с детской безопасностью очень много и сложно удержать их в голове. 
В личном кабинете на (АДРЕС_САЙТА) Вы составите индивидуальный план безопасности ребенка – 
это список действий, которые нужно выполнить, чтобы предотвратить те или иные происшествия.
Все полезные материалы для составления такого плана уже ждут вас на платформе. 
Некоторые занятия с детьми необходимо повторять – мы будем напоминать вам об этой необходимости. 
Также предлагаем вам заполнить паспорт детской безопасности – документ, который содержит все 
важные сведения о ребенке, включая аллергии, индивидуальные непереносимости, группа крови и так далее. 
Этот документ можно распечатать и передать родственникам, тренеру, воспитателю -  когда родителей 
нет рядом, эта информация может быть крайне полезна. 
Желаем, чтобы ваш ребенок всегда был в безопасности!</p>
