<%= form_with(model: child_program, data: { controller: "flatpickr",
                                  turbo: false }) do |f| %>

  <%= render partial: 'partials/form_errors', locals: {model: child_program} %>

  <%= f.datetime_field :notice_time, placeholder: 'Введите дату и время..', class: 'notice_time form-select-lg my-5' %>

  <div class="actions mb-3">
    <%= f.submit 'Установить напоминание', class: 'btn btn-warning btn-lg' %>
  </div>
<% end %>
