<div class="m-1 mb-4 pt-5 rounded-3">
  <div class="text-center justify-content-center">
    <h3 class="shadow p-3 mb-5 bg-body rounded">Активность: <%= @child_program.training_program.title %></h3>
    <div class="row">
      <div class="col-lg-7 mb-5">
        <% if @child_program.training_program.pdf.representable? %>
          <%= link_to image_tag(@child_program.training_program.pdf.representation(resize_to_limit: [800, 600]), 
                            class: "img-fluid rounded p-2 text-bg-#{background_color(@child_program)}"), 
                            url_for(@child_program.training_program.pdf), target: '_blank' %>
        <% end %>
      </div>
      <div class="col-lg-5 d-flex text-center align-content-center flex-wrap">
        <div class="w-100 pb-5">
          <h3 class="shadow p-3 mb-5 bg-body rounded">Ребенок: <%= link_to @child_program.child.full_name, 
            child_path(@child_program.child), class: "list-group-item list-group-item-action active link-warning" %>
          </h3>

          <%= render @child_program %>

        </div>
      </div>
    </div>
  </div>
</div>
