<!DOCTYPE html>
<html>

<head>
  <title>Безопасное детство</title>
  <meta charset="utf-8" />
</head>

<body class="d-flex flex-column"> 
  <main class="flex-shrink-0">
    <div class="container bg-light pt-5 px-5" style="font-family: 'Montserrat', sans-serif" >
      <%= yield %>
    </div>
  </main> 
</body>

</html>
